@import './variables.css';

/* global rules */

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


h1 {
    font-size: calc(35px * 0.0625px);
}

h2{
    font-size: calc(40px * 0.0625px);
    text-transform: capitalize;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

.navigation{
    width: 100%;
    height: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow-y: hidden;
}

.navigation ul{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation .logo img{
    width: 60px;
}

.navigation .nav-items{
    width: 40%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items a{
    color: #000;
}

.pill{
    width: 100px;
    height: 20px;
    font-size: 10px;
    background-color: var(--azul-deep);
    border-radius: 30px;
    text-align: center;
    color: var(--azul-deep-nopac);
    padding-top: 5px;
}


.clients-nav{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center; align-items: center;
    background-color: var(--azul-section);
}

.clients-nav ul{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-section);
}
.footer{
    width:  100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footer img{
    width: 100px;
}

.footer-nav{
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-nav dl{
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-nav dt{
    font-weight: 600;
    font-size: 15px;
}

.footer-nav dl dd{
    font-size: 12px;
}

.footer .contact-details{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 25%;
}

.footer .contact-details li{
    margin-top: 10px;
}


.footer .contact-details #social a{
    color: #000;
    margin-left: 10px;
}

.footer .contact-details li p{
    font-size: 13px;
    inline-size: 300px;
    word-wrap: break-word;
    text-align: right;
}

.footer .contact-details li a{
    font-size: 13px;
    inline-size: 300px;
    word-wrap: break-word;
    text-align: right;
    color: #000;
}

.footer #copyright{
    font-size: 15px;
    position: absolute;
    top: 90%;
    left: 40%;
}
/* ---------------- *

